body{
    height: 100vh;
    overflow: hidden;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: solid 2px black;
}

main{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

.card:hover{
    transform: scale(1.025);
    margin-top:25px;
    transition: all .6s;
}

.card:not(:hover){
	transform: scale(1);
    margin-top:20px;
	transition: all .6s;
}

.card{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: .4em;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    margin-top:20px;
    width: 70%;
    height: 264px;
}

.card-header{
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    border-right: solid 1px black;
    padding-right: 10px;
    margin: 5px;
    margin-left: 15px;
}

.card-content{
    margin:5px;
    margin-left: 16px;
}

.underline{
	position: relative;
	color: black;
	text-decoration: none;
}

.underline:hover {
	color: rgb(26, 26, 26);
}
  
.underline::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: black;
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

.underline:hover::before {
	transform: scaleX(1);
}